html {
    box-sizing: border-box;
    /*background-color: black;*/
    border: blue solid 1px;
    height: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.controls {
    display: flex;
    flex: 1;
    border: 5px solid red;
    justify-content: space-between;
    min-width: fit-content;
}

.roll, .reroll {
    display: flex;
    flex: 1;
    min-height: min-content;
    min-width: min-content;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dice {
    display: flex;
    flex: 3;
    border: 1px solid yellow;
}

.die{ 
    display: flex;
    border: 1px solid white;
}

.die img {
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    min-width: 5px;
}

.output {
    display: flex;
    flex: 4;
    flex-direction: column;
    border: 5px solid orange;

}

.fortune {
    display: flex;
    flex: 1;
    border: 1px solid purple;
    align-items: center;
    justify-content: center;
}

.health {
    display: flex;
    flex: 2;
    border: 1px solid lime;
    padding: 10px;
    justify-content: center;
}